<button id="${_id}"></button>


<script language="javascript">
    //#{ifndef "__BUTTON__"}
    function Button(t){
        t.button();
        /**
         * add click listener
         */
        this.click = function(fn){
            t.click(fn);
            return t;
        };
            
        this.iconClass = function(i){
            if (i != ""){
                t.button("option", "icons", {primary:i})
            }
            return t;
        }
            
        this.text = function(text){
            if (text == ""){
                console.log("in none");
                t.button( "option", "text", false );
            }else {
                console.log("in some");
                t.button( "option", "text", true );
                t.button( "option", "label", text );
            }
            return t;
        }
        
        this.get$ = function(){
            return t;
        }
        
    };
    //#{/ifndef}
    
    initialize(function(){
        window.${_id} = new Button($("#${_id}"));
        window.${_id}.text("${_text}");
        window.${_id}.iconClass("${_icon}"); 
    });
</script>