<!--DEPENDS ON EASYUI-->

<table id="${_id}" class="easyui-propertygrid"></table>

<script language="javascript">
   
    function java2gridEditor(jtype){
        switch(jtype.toLowerCase()){
            case "char":
            case "character":
            case "string": return "text";
            case "boolean": return {
                    "type":"checkbox",
                    "options":{
                        "on":true,
                        "off":false
                    }};
            case "integer":
            case "int":
            case "float":
            case "double":
            case "long": return "numberbox";
        }
    }
    
    function Property(group, name, value, type){
        this.name = name;
        this.value = value;
        this.type = type;
        this.group = group;
    }
    
    initialize(function(){
        var t = $("#${_id}").propertygrid({"showGroup": true});
        
        /**
         * remove all properties from the 
         */
        t.clear = function(){
            t.propertygrid("loadData", new Array());
        };
        
        /**
         * add new row with the given attributes
         */
        t.addRow = function(group, name, value, jtype){
            t.propertygrid("appendRow", {"name":name, "value":value, "group":group, "editor":java2gridEditor(jtype)});
        };

        /**
         * add new row by the data from the given property object
         */
        t.addProp = function(p){
            t.addRow(p.group, p.name, p.value, p.type);
        };
        
        /**
         * load array of rows 
         * extractor = for each item in the array this function will return a property object representing this item
         */
        t.load = function(array, extractor){
            for (i in array){
                var it = array[i];
                var prop = extractor(it);
                t.addProp(prop);
            }  
        };
        
        window.${_id} = t;
    });
</script>