
<!--  Outer wrapper for presentation only, this can be anything you like -->
<div id="banner" class="rounded-corners-12">
    <!-- start Basic Jquery Slider -->
    <ul class="bjqs">
        <li>
            <div title="this is a test">
                <p>
                    Hello World
                </p>
                <span>
                    this is the second line 
                </span>
            </div>
        </li>

        <li>
            <div title="this is a test">
                <p>
                    Hello World2
                </p>
                <span>
                    this is the second line 
                </span>
            </div>
        </li>


        <li>
            <div title="this is a test">
                <p>
                    DIMA WAS HERE!!
                </p>
                <span>
                    this is the second line 
                </span>
            </div>
        </li>
    </ul>
    <!-- end Basic jQuery Slider -->
</div>
<!-- End outer wrapper -->

