<div id="${_id}">
</div>


<script>
    
    //#{ifndef "__TREE__"}
//        function Tree(t){
 //       };
   //#{/ifndef}
    
 //   initialize(function(){
 //       window.${_id} = new Tree($("#${_id}"));
 //   });
    
    
    //////////////////////////////////////////////////////////////////////
    initialize(function(){
        var selectionListeners = new Array();
        
        var t =  $('#${_id}').dynatree({
            imagePath: " ",
            minExpandLevel: 1,
            onActivate: function(node){
                for (var l in selectionListeners){
                    selectionListeners[l](node.n);
                }
            }
        });
        
        /**
         * add a child to the tree 
         * each child should have a display, return this child
         * the child getView method has the dom view
         */
        t.addChild = function(node){
            if (node.display == null){
                throw "each node should have a display, got "  + node;
            }
            var prop = {title: node.display, activate: true};
            if (node.icon != null){
                prop.icon = node.icon;
            }
            var temp = t.getRoot().addChild(prop);  
            temp.n = node;
            node.getView = function(){return temp;}; //wrapping for circular reference
            
            return node;
        };
        
        /**
         * return the root node
         */
        t.getRoot = function(){
            return t.dynatree("getRoot");
        };
        
        /**
         * add new node to the selected item
         * and return this child
         */
        t.appendToSelected = function(data){
            if (data.display == null){
                throw "each node should have a display property";
            }
            
            var selected = t.getSelectedItem().getView();
            var prop = {title: data.display};
            if (data.icon != null){
                prop.icon = data.icon;
            }
            var temp = selected.addChild(prop);
            
            temp.n = data;
            data.getView = function(){return temp};
            selected.expand(true);
            return data;
        };
        
        /**
         * if there is no selection - will return null
         */
        t.getSelectedItem = function(){
            return t.dynatree("getActiveNode").n;
        };
        
        /**
         * append selection listener - fn(node)
         */
        t.onSelected = function(fn){
            selectionListeners.unshift(fn);
        };
        
        /**
         * return the list of the selected listeners
         */
        t.getSelectionListeners = function(){
            return selectionListeners;
        }
        
        window.${_id} = t;
    });
</script>