/** Add css rules here for your application. */
body {
	margin: 0px !important;
	padding: 0px;
	height: 100%;
	color: red;
}


* {
	padding: 0px;
	margin: 0px;
}

html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.gwt-TabPanelBottom {
	height: 100%;
}

.gwt-Button {
	font-size: 10px !important;
	min-height: 15px;
}

.portlet {
	padding: 3px;
	border: 1px solid;
	background-color: deeppink;
}

.gwt-PopupPanelGlass {
	background-color: black !important;
	opacity: 0.8 !important;
	filter: alpha(opacity = 80) !important;
}