.cellListWidget
 {

}
.cellListEvenItem
 {
  cursor: default;
  zoom: 1;
  background:transparent !important;
   color: rgb(245,245,245) !important;
}

.cellListOddItem
{
  cursor: default;
   background:transparent !important;
   color: rgb(245,245,245) !important; 
}

.cellListKeyboardSelectedItem
{
  background: transparent !important;
}

@sprite .cellListSelectedItem
 {
  gwt-image: 'cellListSelectedBackground';
  background-color: transparent !important;
  color: rgb(245,245,245) !important;
  height: auto;
  overflow: visible;
}