/*Contact related*/

.contact{
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 30px;
    background-color: white;
    border: 1px rgb(192,192,192) solid;
    text-align: left;
}

.contact .contact-body{
    text-align: justify;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(102,102,102);
    letter-spacing: normal;
    margin-bottom: 5px;
}

.contact .contact-title{
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    text-align: justify;
    padding-bottom: 8px;
}

.contact .contact-columns{
    margin-top: 30px;
    text-align: center;
    border: 1px rgb (102,102,102) dashed;
}

.contact .contact-adress{
    font-size: 18px;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    text-align: justify;
    padding-bottom: 8px;
}

.contact .contact-adress span{
    color: #C2434A;
}

.contact .contact-inner-table{
    padding: 5px;
    width: 250px;
    border-right: 1px rgb(172,172,172) dashed;
    margin-bottom: 30px;
    margin-left: 10px;
}

.contact .contact-bottom{
    border-top: 1px rgb(172,172,172) dashed;
}
