/* INTRO RELATED */
.intro {
    background-color: rgba(255,255,255,0.4);
    margin: auto;
    border: solid 1px rgb(210,210,210);
    margin-top: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;

    /* SHADOW */
    -moz-box-shadow:    0px 0px 5px 3px #ccc;
    -webkit-box-shadow: 0px 0px 5px 3px #ccc;
    box-shadow:         0px 0px 10px 2px #ccc;
}

.intro .intro-text {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 24px;
    color: #5A6367;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
    padding-top: 10px;
}

.intro .intro-header{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 15px;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    border-bottom: 1px solid rgb(210,210,210);
}

.intro .intro-header span {
    color: rgb(153,0,0);
}

.intro .intro-read-more{
    color: #C2434A;
    font-style: italic;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    padding-left: 20px;
}
