/*Laboratory Related*/

.laboratory .laboratory-pic{
    text-align: right;
    padding: 50px;
    padding-bottom: 30px;
}



.laboratory .laboratory-login-table{
    background: white;
    border: 1px #ccc solid;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: justify;
    padding: 25px;
}

.laboratory .laboratory-left-spacer{
    padding-left: 120px;
}

.laboratory .laboratory-login-title{
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.laboratory .laboratory-login-field-box{
    width: 100%;
    border: 1px #ccc solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: lemonde-courrier, Georgia, serif;
    height: 25px;
    margin-bottom: 8px;
}

.laboratory .laboratory-login-field{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(92,92,92);
    padding-bottom: 5px;
}

.laboratory .laboratory-login-field-text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(172,172,172);
    padding-bottom: 5px;
}


.laboratory .laboratory-login-field-box:focus{
    border: 1px rgb(128,191,255) solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 5px rgb(166,210,255) !important;
    -webkit-box-shadow: 0 0 5px rgb(166,210,255) !important;
    box-shadow: 0 0 5px rgb(166,210,255) !important;
    outline: none;
}

.laboratory .laboratory-login-button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-size:13px;
    font-weight:bold;
    width: 80px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:6px 6px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

.laboratory .laboratory-login-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.laboratory .laboratory-login-button:active {
    position:relative;
    top:1px;
}

.laboratory .laboratory-login-field-sign-in{
    color: rgb(71,125,200);
}
