html{
    margin: 0px;
}

body{
    margin: 0px;
    background-image: url(../images/body-bg.png);
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.shadow {
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
}

/* HEADER RELATED */

#header {
    background-image: url(../images/header-bg.png);
    background-repeat: repeat;
    width: 100%;
}

#nav{
    margin: 0px;
    text-align: center;
}

#nav li {
    list-style: none;
    float: left;
    right: 50%;
    position: relative;
}

/* wrapping the navigation - you can change the navigation menu color through here*/
.nav-wrapper{
    background-color: rgb(245,245,245);
    border: 1px solid rgb(210,210,210);
    overflow: hidden;
}

#nav li a {
    padding: 20px;
    display: block;
    text-decoration: none;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 12px;
    color: #371C1C;
}

#nav .current-view{
    font-weight: bold;
    background-color: rgb(153,0,0);
    color: white;

    text-decoration: underline;
}


.ui-button-text{
    padding: 0 !important;   
}

/* TwoPartsText related*/

.twoParts .twoParts-text{
    font-size: 16px;
    border: 0;
    margin: 0;
    color: rgb(0,102,153);
    font-family: lemonde-courrier, Georgia, serif;
    text-align: center;
}

.twoParts .twoParts-text span {
    color: black;
}

