.upload-file{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /*padding-bottom: 30px;*/
    background-color: white;
    border: 1px rgb(192,192,192) solid;
    text-align: left;
    padding: 10px;
}

.upload-file-test {
    margin: 4px;
}

.upload-file-title{
    padding: 10px;
    font-style: italic;
    font-size: 27px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    text-align: justify;
    
}

.upload-file-tests .ui-scrollpanel-hbar .ui-widget-header .ui-corner-bottom {
    display: none !important;
    height: 0px !important;
}

.upload-file .upload-file-left{
    height: 100%;
    width: 2%;
    border-right: black 1px solid;
    padding: 5px;
    padding-right: 15px;
    vertical-align: top;
}


.upload-file .upload-file-tests{
    height:90px;
    margin-bottom: 5px;
    width: 100px;
    padding-top: 10px;
}


.upload-file .upload-file-tests-title{
    text-align: justify;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: rgb(102,102,102);
    letter-spacing: normal;
    padding-left: 10px;
}

.upload-file .upload-file-tests-buttons{
    padding-left: 5px;
    padding-top: 5px;
}

.upload-file .upload-file-tests-buttons .ui-state-default, 
.upload-file .upload-file-tests-buttons .ui-widget-content, 
.upload-file .upload-file-tests-buttons .ui-state-default, 
.upload-file .upload-file-tests-buttons .ui-widget-header, 
.upload-file .upload-file-tests-buttons .ui-state-default {
    border: 1px solid #93C3CD;
    background: #93C3CD url("/Az/faces/images/ui-bg_diagonals-small_50_93c3cd_40x40.png") 50% 50% repeat;
    font-weight: normal;
    color: rgb(240,240,240);
}
/*
.upload-file .upload-file-right .ui-widget-content .ui-dt-c{
    height: 270px;
}*/

.upload-file .upload-file-right{
    height: 100%;
    width: 20%;
    padding: 6px;
    vertical-align: top;
}

.ui-accordion .ui-accordion-content {
    padding: 1.5em 1.5em;
}

.upload-file .ui-datatable{
    width: 80%;
    padding-bottom: 7px;
}

.upload-file .upload-file-table ui-widget{
    padding-bottom: 10px;
}

.upload-file  .ui-state-highlight, 
.upload-file  .ui-widget-content 
.upload-file  .ui-state-highlight,
.upload-file  .ui-widget-header 
.upload-file  .ui-state-highlight {
    border: 1px solid #93C3CD;
    background: #FFEB80 url("/Az/faces/images/ui-bg_diagonals-small_50_93c3cd_40x40.png") 50% bottom repeat-x;
    color: #363636;
}

.upload-file .upload-file-right .ui-cell-editor{
    width: 10px;
}

.upload-file .upload-file-right .ui-datatable th div.ui-dt-c,
/*.upload-file .upload-file-right .ui-datatable .ui-datatable-data td div.ui-dt-c,*/
/*.upload-file .upload-file-right .ui-datatable .ui-datatable-data-empty td div.ui-dt-c,*/
.upload-file .upload-file-right .ui-datatable tfoot td div.ui-dt-c {
    padding: 3px 1px 3px 10px;
}

.upload-file-add-test{
    /*width: 100px;*/
}

.upload-file .upload-file-right .ui-inputfield {
    padding: 2px;
}

.upload-file .ui-button-text-only .ui-button-text {
    padding: .2em 0.5em;
}

.upload-file .upload-file-accordion .ui-state-default,
.upload-file .upload-file-accordion .ui-widget-content .ui-state-default,
.upload-file .upload-file-accordion .ui-widget-header .ui-state-default {
    background: url("/Az/faces/images/header-bg.png") 50% bottom repeat-x;
    border: #ccc 1px solid;
}

.upload-file .upload-file-accordion{
    border-right: black 1px solid;
    padding: 5px;
    width: 60%;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
}

.upload-file .ui-accordion-header a{
    color:black;
}


.upload-file .upload-comp{
    width:80%;
    margin-bottom: 30px;
}

.upload-file .padd-left{
    padding-left: 90px;
}