/*
style for the titled panes - to make them more like sections
*/
.section-pane {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.section-pane > .title{
    -fx-background-color: rgb(100, 100, 100);
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0;
}

.section-pane > .title .text{
    -fx-fill:#f3f3f3;
}

.section-pane > .content{
    -fx-background-color: rgb(220, 220, 220);
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.section-pane > .title .dark-pane {
    -fx-background-color: rgb(100, 100, 100);
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0;
}

.section-pane > .title .dark-pane .button {
    -fx-padding: 4 10 6 10;
}

/*
style the statistics tree chooser
*/

.statistical-tree {
    -fx-background-color: rgb(70, 70, 70);
}

.statistical-tree .tree-cell {
    -fx-background-color: rgb(70, 70, 70);
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: white;
    -fx-indent: 10;
}

.statistical-tree .tree-cell:even {
    -fx-background-color: rgb(75, 75, 75);
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: white;
    -fx-indent: 10;
}

.statistical-tree .tree-cell .label {
    -fx-padding: 0.0em 0.0em 0.0em 0.25em; /* 0 0 0 3 */
    -fx-text-fill: white;
}

.statistical-tree .arrow {
    -fx-fill: rgb(200,200,200);
    -fx-background-color: rgb(200,200,200);
}

.statistical-tree .tree-cell:filled:hover {
    -fx-background-color:gainsboro;
    -fx-background-radius:3;
    -fx-text-fill: black;
}

.statistical-tree .tree-cell:filled:hover .arrow {
    -fx-fill: rgb(100,100,100);
    -fx-background-color: rgb(100,100,100);
}


.statistical-tree .tree-cell:filled:selected {
    -fx-background-color:#3399ff;
    -fx-background-radius:3;
    -fx-text-fill: white;
}


/*
dark panels
*/
.dark-pane {
    -fx-background-color: rgb(70, 70, 70);
}

.dark-pane .label {
    -fx-text-fill : white;
}

.dark-pane .button {
    -fx-background-insets: 3 3 4 3;
    -fx-background-color: rgb(150,150,150);
    -fx-background-radius: 0.25em; /* 3px */
    -fx-padding: 8 40 8 40; 
}

/*
for some reason border pane contains padding of 9.6 - this will disable it
*/
.padless-border-pane {
    -fx-padding: 0;
}

/*
styling the center piece
*/

.center-piece .content{ 
    -fx-background-color: rgb(70 ,70, 70 );

}

.viewer {
    -fx-background-color: rgb(31,31,31);
    -fx-background-insets: 0 5 5 5;
    -fx-background-radius: 6;
    -fx-padding: 8;
}

/*
step indicators
*/

.step-indicator-circle {
    -fx-fill: rgb(80,80,80);
    -fx-stroke: rgb(240,240,240);
}

.step-indicator-label {

}

/*
main panel
*/

.main-pane{
    -fx-background-color: rgb(70, 70, 70);
}


/* 
style the pie chart (cpu time per algorithm
*/

.chart-pie {
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 0px;
}

.chart-legend-item {
    -fx-text-fill: black;
}

.chart-pie-label {
    -fx-fill: white;
}

/*
cpu usage bar chart

-fx-bar-fill: #b4c9d7;
*/

.default-color0.chart-bar { 

    -fx-bar-fill: #fba71b;
}

.axis {
    -fx-tick-label-fill: rgb(200,200,200);
}

.axis-label {
    -fx-text-fill: white;
}

.axis-tick-mark {
    -fx-stroke: rgb(200,200,200);
}
.axis-minor-tick-mark {
    -fx-stroke: rgb(200,200,200);
}