<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <!-- Project Support! -->
   <extension
         id="agent0dev.project.Agent0Nature"
         name="Agent0 Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="agt0.dev.project.Agent0Nature">
         </run>
      </runtime>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
         <category
               id="Agent0Dev.project.new"
               name="Agent0 Project">
         </category>
         <wizard
               category="Agent0Dev.project.new"
               class="agt0.dev.wizards.ProjectWizard"
               icon="icons/new-project.png"
               id="Agent0Dev.project.new.wizard"
               name="Agent0 Algorithm Implementaion Project"
               project="true">
               
               <description>
                  Create new Agent 0 Project
               </description>
               
               <selection class="org.eclipse.core.resources.IResource"/>
         </wizard>
         <wizard
               category="agents"
               class="agt0.dev.wizards.NewAgent"
               icon="icons/agts/4.png"
               id="agt0.dev.wizards.new-agent"
               name="Agent">
            <description>
               create new agent class
            </description>
         </wizard>
   </extension>
   
   <!-- Project Explorer Changes -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
         <viewerContentBinding
               viewerId="org.eclipse.ui.navigator.ProjectExplorer">
               <includes>
               		<contentExtension
                       pattern="Agent0Dev.project.explorer.content">
               		</contentExtension>
               </includes>
         </viewerContentBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
         <navigatorContent
               id="Agent0Dev.project.explorer.content"
               activeByDefault="true"
               contentProvider="agt0.dev.project.explorer.ContentProvider"
               labelProvider="agt0.dev.project.explorer.LabelProvider"
               name="Agent0 Explorer!"
               priority="highest">
            <triggerPoints>
               <or>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="agt0.dev.project.Agent0Nature">
                     </test>
                  </and>
                  
                        <and>
                           <adapt
                                 type="org.eclipse.jdt.internal.core.PackageFragment">
                           </adapt>
                  </and>
               </or>
            </triggerPoints>
               
	      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="agt0.dev.view.AlgorithmExaminer"
            id="agt0.dev.view.AlgorithmExaminer"
            name="Algorithm Examiner">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="agt0.dev.launch.Launcher"
            id="agt0.dev.launch.launcher"
            modes="run, debug"
            name="Agent0 Execution">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="agt0.dev.launch.launcher"
            icon="icons/launch-run.png"
            id="agt0.dev.launch.icon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="agt0.dev.launch.ConfigurationUI"
            id="agt0.dev.launch.confui"
            type="agt0.dev.launch.launcher">
         <launchMode
               mode="debug"
               perspective="agt0.dev.prespective.debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="agt0.dev.prespective.DebugPrespective"
            icon="icons/debug.png"
            id="agt0.dev.prespective.debug"
            name="A0Debug">
      </perspective>
   </extension>
   
    <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="agt0.dev.launch.LauncherShortcut"
          description="use Agent0 Tester to check the correctness of your algorithm"
          icon="icons/launch-run.png"
          id="agt0.dev.launch.shortcut"
          label="AgentZero Algorithm Tester"
          modes="run, debug">
       <contextualLaunch>
         <enablement>
           <with variable="selection">
             <count value="1"/>
              <iterate>
               <and>
                <adapt type="org.eclipse.jdt.core.IJavaElement">
                        <test property="org.eclipse.jdt.core.isInJavaProject"/>
                </adapt>
                 <or>
                   <test property="org.eclipse.jdt.launching.hasMain"/>
                   <test property="org.eclipse.jdt.launching.isContainer"/>
                   <test property="org.eclipse.jdt.launching.isPackageFragment"/>
                   <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
                   <instanceof
                         value="org.eclipse.jdt.core.ICompilationUnit">
                   </instanceof>
                 </or>
               </and>
              </iterate>
             </with>
         </enablement>
                </contextualLaunch>
       <configurationType
              id="org.eclipse.jdt.launching.localJavaApplication">
       </configurationType>
       <description
              description="Run your algorithm under the agent0 test environment"
              mode="run">
       </description>
       <description
              description="Debug your algorithm under the agent0 test environment"
              mode="debug">
       </description>
    </shortcut>
 </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="agt0.dev.cmd.GenerateMessage"
             id="agt0.dev.cmd.genmsg"
             name="Generate Message">
       </command>
       <command
             defaultHandler="agt0.dev.cmd.DebugSelectedProblem"
             id="agt0.dev.cmd.debugsprob"
             name="Debug Selected Problem">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="menu:org.eclipse.ui.main.menu">
          <menu
                icon="icons/agts/1.png"
                id="agt0.dev.menu.main"
                label="Agent Zero">
             <command
                   commandId="agt0.dev.cmd.genmsg"
                   icon="icons/mnu/genmsg.png"
                   id="agt0.dev.menu.main.genmsg"
                   label="Generate Message"
                   style="push">
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:#CompilationUnitEditorContext">
          <menu
                icon="icons/agts/1.png"
                id="agt0.dev.menu.editor"
                label="Agent Zero">
             <command
                   commandId="agt0.dev.cmd.genmsg"
                   icon="icons/mnu/genmsg.png"
                   id="agt0.dev.menu.editor.genmsg"
                   label="Generate Message"
                   style="push">
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <command
                commandId="agt0.dev.cmd.debugsprob"
                label="Debug Selected Problem"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.name"
                               value="*.prob">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="agt0.dev.cmd.genmsg"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="Alt+M">
       </key>
    </extension>

</plugin>
