<!DOCTYPE html>

<html>
    <head>
        <title> Experiment Creator </title>
        <meta charset="${_response_encoding}"/>

        <!--SCRIPTS-->
        <script src="@{'/public/javascripts/jquery-1.7.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.layout-1.3rc.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.dynatree.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/libs.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/expc.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <!--STYLES-->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.16.custom.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.layout.default.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/expc.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ui.dynatree.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/datatables.css'}">

        <!--MAIN-->
        <script language="javascript">
            //RPC
            function Server(){
                var genPost = function(func){
                    
                    return function(){
                        
                        if (arguments.length > 1){
                            var args = arguments[0];
                            var mtd = arguments[1];
                        }else {
                            var args = new Array();
                            var mtd = arguments[0];
                        }
                        
                        $.post(func(args), mtd);
                    };
                }
                
                /**
                 * will return all the items with the given class name
                 */
                this.getItems = genPost(#{jsAction @ExperimentCreator.getItems(':of')/});
            }
            
            //GLOBAL DATA
            window.server = new Server();
            window.initFunctions = new Array();
            
            //DRIVER
            $(function(){
                for (i in initFunctions){
                    initFunctions[i]();
                }
                
                main(); //call main!
            });
            
            function initialize(fn){
                initFunctions.unshift(fn);
            }
            
            //LIB
            function str(what){
                return JSON.stringify(what);
            }
            
            function toArray(what){
                return Array.prototype.slice.call(what, 0);
            }
            
            function map(what, fn){
                var n = new Array();
                for (var i in what){
                    n.push(fn(what[i]));
                }
                
                return n;
            }
            
            function each(what, fn){
                for (var i in what){
                    fn(what[i]);
                }
            }
            
            function log(){
                console.log.apply(console, arguments);
            }
            
                    
        </script>
    </head>

    <body>

        <div class="ui-layout-north logo-container">
            <img src="@{'/public/images/logo35.png'}" class="logo">
            </img>
        </div>

        <div class="ui-layout-center" id="screen-layout">

            <div class="ui-layout-north caption">
                Experiment Planner
            </div>
            <!--TREE-->
            <div class="ui-layout-west">
                #{tree id:"tree"/}
            </div>
            <div class="ui-layout-center node-control">
                <span class="caption" id="node-control-caption">
                    BLA Properties
                </span>
                #{grid id:'propGrid'}
                <thead>
                <th> Name </th>
                <th> Description </th>
                <th> <img src="/public/images/expc/edit-16.png" align="center"> <span> Value </span> </img> </th>
                </thead>
                #{/grid}
                #{links-list id:"add_links"/}

            </div>
        </div>

        #{dialog id:'new_item_dialog'}
        #{grid id:'grid'}
    <thead>
    <th> Name </th>
    <th> Description </th>
</thead>
#{/grid}
<br/>
<table  cellspacing="0" width="100%" style="border-top: solid rgb(245,245,245) 1px;"><tr><td style="padding-top: 5px;">
            #{button text:"OK", icon:"ok-icon", id:"ok_link"/}
        </td></tr></table>
#{/dialog}

<script language="javascript">
                
</script>
</body>
</html>