#banner {
    height:300px;
/*    width:90%;*/
    position:relative;
    /*    background:#fff;*/
    /*    border:20px #fff solid;*/
    
    box-shadow:0 0 50px rgba(0,0,0,0.5);
}

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none; background:#000;}
ul.bjqs li{display:none;position:absolute; padding: 8px;}
ul.bjqs li ul li{display:block;position:relative}

ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}

ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:9999;}
ol.bjqs-markers li{float:left;}

p.bjqs-caption{display:block;width:97%;margin:0;padding:2%;position:absolute;bottom:0;}

/* demo theme */

ul.bjqs{
    /*    width:960px;*/
    height:340px;
    margin:0 auto;
    display:block;
    background:none;
}

ul.bjqs .video-wrapper{
    position:absolute;
    top:0;
    left:0;
}

ul.bjqs .video-description{
    position:absolute;
    right:0;
    top:0;
    width: 315px;
    padding: 0 10px;
}

ul.bjqs .featured-post{
    /*    width:960px;*/
    height:340px;
    /*	background:url(../img/bg_feature_slide.png) no-repeat;*/
    position:relative;
}

ul.bjqs .featured-post h2{
    font-family: 'Droid Sans', sans-serif;
    font-weight:bold;
    font-size:40px;
    margin:0;
    letter-spacing:-3px;
    text-shadow:0px 0px 1px #111;
    position:absolute;
    top:30px;
    left:20px;
}

ul.bjqs .featured-post ul{
    position:absolute;
    padding:0;
    margin:0;
    top:125px;
}

ul.bjqs .featured-post ul.list-one{
    left:20px;
}

ul.bjqs .featured-post ul.list-two{
    left:380px;
}

ul.bjqs .featured-post p.tag-line{
    position:absolute;
    left:20px;
    bottom:12px;
    font-family:'Droid Sans', sans-serif;
    font-size:22px;
}

ul.bjqs .featured-post p.tag-line a{
    font-weight:bold;
}

ul.bjqs .featured-post img{
    position:absolute;
    bottom:30px;
    right:40px;
}

ul.bjqs div.featured-post ul li{
    /*	background:url(../img/tick_list.png) no-repeat 0 2px;*/
    padding:0 0 0 25px;
}

ul.bjqs-controls li a{
    width:10px;
    height:16px;
    overflow:hidden;
    text-indent:-999px;
    background-image:url(/public/images/slide/btn_controls.png);
    position:absolute;
    bottom:8px;
    margin-left: 8px;
}

ul.bjqs-controls li a.bjqs-prev{
    left:0;
}

ul.bjqs-controls li a.bjqs-prev:hover, ul.bjqs-controls li.active a.bjqs-prev{
    background-position:0 -16px;
}

ul.bjqs-controls li a.bjqs-next{
    left:20px;
    background-position:-10px  0;
}

ul.bjqs-controls li a.bjqs-next:hover, ul.bjqs-controls li.active a.bjqs-next{
    background-position:-10px -16px;
}

p.bjqs-caption{
    background:rgba(0,0,0,0.7);
    color:#fff;
}

ol.bjqs-markers{
    position:absolute;
    bottom:8px;
    right:0;
    margin-right: 20px;
}

ol.bjqs-markers li{
    float:left;
    margin:0 3px;
}

ol.bjqs-markers li a{
    display:block;
    height:16px;
    width:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(/public/images/slide/btn_marker.png) 0 0;
    border:none;
}

ol.bjqs-markers li.active-marker a{
    background:url(/public/images/slide/btn_marker.png) 0 -16px;
}
