<div style="visibility: 'hidden';" id="${_id}">
    #{doBody/}
</div>

<script language="javascript">


    //#{ifndef "__DIALOG__"}
    function Dialog(t){
        this.title = "UNNAMED";
        this.draggable = false;
        this.resizable = false;
        
        /**
         * setting the title of the dialog
         */
        this.setTitle = function(name){
            this.title = name;
        }
       
        /**
         * will determine if the created dialog will be resizable
         */
        this.setResizable = function(pred){
            this.resizable = pred;
        }
       
        /**
         * will determine if the dialog will be draggable
         */
        this.setDraggable = function (pred){
            this.draggable = pred;
        }
       
        /**
         * showing the dialog
         */
        this.show = function(){
            t.dialog({modal: true, title: this.title, draggable: this.draggable, resizable: this.resizable});
        }
       
        /**
         * showing the dialog with the given initial size
         */
        this.showSized = function(height, width){
            t.dialog({modal: true, title: this.title, draggable: this.draggable, resizable: this.resizable, "height": height, "width": width});
        }
       
        /**
         * show the dialog on all the screen (minus the given margin)
         */
        this.showFull = function(margin) {
            this.showSized(window.innerHeight - 2*margin, window.innerWidth - 2*margin);
        }
       
        /**
         * same as show full but the height will be count as "maximum-height"
         */
        this.showFullMaximumHeight = function(margin) {
            var h = window.innerHeight - 2*margin;
            var w = window.innerWidth - 2*margin;
            t.dialog({modal: true, title: this.title, draggable: this.draggable, resizable: this.resizable, "maxHeight": h, "width": w});
        }
        
        this.get$ = function(){
            return t;
        }

        this.close = function(){
            t.dialog("close");
        }

    };
    //#{/ifndef}
    
    initialize(function(){
        window.${_id} = new Dialog($("#${_id}"));
    });
</script>