<table cellspacing="0" id="${_id}">
    <tr>
        <td> <img src="${_icon}"></img> </td>
        <td> <a href="#"> ${_text} </a> </td>
    </tr>
</table>

<script language="javascript">
    //#{ifndef "__AIMG__"}
        function AImg(t){
            /**
             * add click listener
             */
            t.onClick = function(fn){
                t.children("a").click(fn);
            };
        };
   //#{/ifndef}
    
    initialize(function(){
        window.${_id} = new AImg($("#${_id}"));
    });
</script>