<ul id ="${_id}" class="links-list">
</ul>

<script language="javascript">
    initialize(function(){
        var temp = $("#${_id}");
        var id =0;
        /**
         * remove all elements from the list
         */
        temp.clear = function(){
            temp.html("");
        }

        /**
         * add new link
         * data = the name of the new link
         * doThis = function to be called when the link is clicked
         * 
         * - data should have a display name
         * - data can have imgClass and it will get put in the div that can contain an image 
         */
        temp.add = function(data, doThis){
            if (data.imgClass == null){
                data.imgClass = "";
            }
           
            var a = $("<a />", {
                text: data.display,
                click: doThis,
                href: "#"
              
            });
            var li = $("<li class='add-link-item'/>");
            var img = $("<div class='add-link-item-image " + data.imgClass + "'/>");
            li.append(img);
            img.append(a);
            temp.append(li);  
        }
        
        temp.visible = function(pred){
            if (pred){
                temp.css("visibility","visible");
            }else {
                temp.css("visibility","hidden");
            }
        }
       
        window.${_id} = temp;
    });
</script>