<ul id="sdt_menu" class="sdt_menu">
    <li>
        <a href="#">
            <img src="@{'/public/images/menu/aus.png'}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">About us</span>
                <span class="sdt_descr">Get to know me</span>
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="@{'/public/images/menu/download.jpg'}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Download</span>
                <span class="sdt_descr">Where ideas get born</span>
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="@{'/public/images/menu/articles.png'}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Tools</span>
                <span class="sdt_descr">Where ideas get born</span>
            </span>
        </a>
    </li>

    <li>
        <a href="#">
            <img src="@{'/public/images/menu/articles.png'}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Articles</span>
                <span class="sdt_descr">I like to photograph</span>
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="@{'/public/images/menu/community.png'}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Community</span>
                <span class="sdt_descr">I like to code</span>
            </span>
        </a>
        <div class="sdt_box">
            <a href="#">Job Board Website</a>
            <a href="#">Shopping Cart</a>
            <a href="#">Interactive Maps</a>
        </div>
    </li>
    <li>
        <a href="#">
            <img src="@{'/public/images/menu/learn.png'}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Learn</span>
                <span class="sdt_descr">My work</span>
            </span>
        </a>
        <div class="sdt_box">
            <a href="#">Websites</a>
            <a href="#">Illustrations</a>
            <a href="#">Photography</a>
        </div>
    </li>
    <li>
        <a href="#">
            <img src="@{'/public/images/menu/lab.jpg'}" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
                <span class="sdt_link">Lab</span>
                <span class="sdt_descr">I write about design</span>
            </span>
        </a>
    </li>
</ul>