html{
    margin: 0px;
}

body{
    margin: 0px;
    background-image: url(../images/body-bg.png);
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.shadow {
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
}

/* HEADER RELATED */

#header {
    background-image: url(../images/header-bg.png);
    background-repeat: repeat;
    width: 100%;
}

#nav{
    margin: 0px;
    text-align: center;
}

#nav li {
    list-style: none;
    float: left;
    right: 50%;
    position: relative;
}

/* wrapping the navigation - you can change the navigation menu color through here*/
.nav-wrapper{
    background-color: rgb(245,245,245);
    border: 1px solid rgb(210,210,210);
    overflow: hidden;
}

#nav li a {
    padding: 20px;
    display: block;
    text-decoration: none;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 12px;
    color: #371C1C;
}

#nav .current-view{
    font-weight: bold;
    background-color: rgb(153,0,0);
    color: white;

    text-decoration: underline;
}


.ui-button-text{
    padding: 0 !important;   
}

/* INTRO RELATED */
.intro {
    background-color: rgba(255,255,255,0.4);
    margin: auto;
    border: solid 1px rgb(210,210,210);
    margin-top: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;

    /* SHADOW */
    -moz-box-shadow:    0px 0px 5px 3px #ccc;
    -webkit-box-shadow: 0px 0px 5px 3px #ccc;
    box-shadow:         0px 0px 10px 2px #ccc;
}

.intro .intro-text {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 24px;
    color: #5A6367;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
    padding-top: 10px;
}

.intro .intro-header{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 15px;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    border-bottom: 1px solid rgb(210,210,210);
}

.intro .intro-header span {
    color: rgb(153,0,0);
}

.intro .intro-read-more{
    color: #C2434A;
    font-style: italic;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    padding-left: 20px;
}

/* INFO RELATED */
.info {
    background-color: rgba(255,255,255,0.4);
    margin: auto;
    border: solid 1px rgb(210,210,210);
    margin-top: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;

    /* SHADOW */
    -moz-box-shadow:    0px 0px 5px 3px #ccc;
    -webkit-box-shadow: 0px 0px 5px 3px #ccc;
    box-shadow:         0px 0px 10px 2px #ccc;
}


.info .info-text {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 24px;
    color: #5A6367;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
    padding-top: 10px;
}

.info .info-header{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 15px;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
}

.info .info-header span {
    color: rgb(153,0,0);
}

/* Download Related */

.download .download-body{
    color: rgb(122,122,122);
    font-family: lemonde-courrier, Georgia, serif;
    font-size: 14px;
    padding-bottom: 5px;
}

.download .download-title{
    color: #5A6367;
    font-family: lemonde-courrier, Georgia, serif;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px rgb(172,172,172) solid;
    padding-bottom: 5px;
}

.download .download-button{
    padding: 5px;
    padding-top: 10px;
    border:0;
}

.download .download-pic{
    padding-bottom: 10px;
}

/* TwoPartsText related*/

.twoParts .twoParts-text{
    font-size: 16px;
    border: 0;
    margin: 0;
    color: rgb(0,102,153);
    font-family: lemonde-courrier, Georgia, serif;
    text-align: center;
}

.twoParts .twoParts-text span {
    color: black;
}

/*Contact related*/

.contact{
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;    

    background-color: white;
    border: 1px rgb(192,192,192) solid;
    text-align: left;


}

.contact .contact-body{
    text-align: justify;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(102,102,102);
    letter-spacing: normal;
    margin-bottom: 5px;
}

.contact .contact-title{
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    text-align: justify;
    padding-bottom: 8px;
}

.contact .contact-columns{
    margin-top: 30px;
    text-align: center;
    border: 1px rgb (102,102,102) dashed;
}

.contact .contact-adress{
    font-size: 18px;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    text-align: justify;
    padding-bottom: 8px;
}

.contact .contact-adress span{
    color: #C2434A;
}

.contact .contact-inner-table{
    padding: 5px;
    width: 250px;
    border-right: 1px rgb(172,172,172) dashed;
    margin-bottom: 30px;
    margin-left: 10px;
}

.contact .contact-bottom{
    border-top: 1px rgb(172,172,172) dashed;
}

/*Laboratory Related*/

.laboratory .laboratory-pic{
    text-align: right;
    padding: 50px;
    padding-bottom: 30px;
}



.laboratory .laboratory-login-table{
    background: white;
    border: 1px #ccc solid;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: justify;
    padding: 25px;
}

.laboratory .laboratory-left-spacer{
    padding-left: 120px;
}

.laboratory .laboratory-login-title{
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.laboratory .laboratory-login-field-box{
    width: 100%;
    border: 1px #ccc solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: lemonde-courrier, Georgia, serif;
    height: 25px;
    margin-bottom: 8px;
}

.laboratory .laboratory-login-field{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(92,92,92);
    padding-bottom: 5px;
}

.laboratory .laboratory-login-field-text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(172,172,172);
    padding-bottom: 5px;
}


.laboratory .laboratory-login-field-box:focus{
    border: 1px rgb(128,191,255) solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 5px rgb(166,210,255) !important;
    -webkit-box-shadow: 0 0 5px rgb(166,210,255) !important;
    box-shadow: 0 0 5px rgb(166,210,255) !important;
    outline: none;
}

.laboratory .laboratory-login-button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-size:13px;
    font-weight:bold;
    width: 80px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:6px 6px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

.laboratory .laboratory-login-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.laboratory .laboratory-login-button:active {
    position:relative;
    top:1px;
}

.laboratory .laboratory-login-field-sign-in{
    color: rgb(71,125,200);
}

/*Welcome Related*/

.welcome{
    background: white;
    border: 1px rgb(202,202,202) solid;
    /*    width:80%;*/
    /*    margin-left: 150px;
        margin-right: 150px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.welcome .welcome-title{
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    text-align: justify;
    padding-bottom: 20px;
}

.welcome .welcome-body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: normal;
    color: rgb(92,92,92);
    padding-bottom: 30px;
}

.welcome .welcome-read-more{
    color: #C2434A;
    font-style: italic;
    font-family: lemonde-courrier, Georgia, serif;
}

.welcome .welcome-left-side{
    padding: 5px;
    padding-right: 50px;
    width:25%;
}

.welcome .welcome-right-side{
    padding: 5px;
    vertical-align: top;
    width:30%;
}

.welcome .welcome-start-table{
    padding-bottom: 30px;
    border-bottom: 6px rgb(232,232,232) solid;
    width:100%;
}

.welcome .welcome-bottom{
    text-align: left;
    padding-right: 20px;
    width: 30%;
}

.welcome .welcome-bottom-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: normal;
    color: rgb(92,92,92);
}

.welcome .welcome-bottom-left{
    vertical-align: top !important;
}

.welcome .welcome-bottom-center{
    vertical-align: top !important;
    text-align: center;
    padding-right: 20px;
}

.welcome .welcome-bottom-right{
    vertical-align: top !important;
}


.welcome .welcome-bottom-table{
    padding-bottom: 20px;
    border-bottom: 6px rgb(232,232,232) solid;
}

.welcome .welcome-pic{
    width: 70px !important;
}

.welcome .welcome-feedback{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    color: rgb(122,122,122);
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    text-align: center;
    padding-bottom: 8px;
}

.welcome .welcome-email{
    color: #C2434A;
}



/*News Related*/

.news{
    background: rgb(247,247,247);
    border: 1px rgb(202,202,202) solid;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ui-widget .prev {
    background: url("#{resource['images:inna.png']}"); 
}

.news .ui-panel{
    padding: 0;
}

.news .news-write{
    padding: 20px;
    border-bottom: 6px rgb(232,232,232) solid;
    text-align: center;
}

.news .news-write-button{
    text-align: center;
    font-size: 17px;
    color: rgb(242,242,242);
    font-weight: lighter;
    background: rgb(41,58,67) !important;
    box-shadow: none !important;
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 7px;
    border:1px rgb(41,58,67) solid;
    text-shadow: none;
}

.news .news-right{
/*    background-color: rgba(255,255,255,0.4);*/
background-color: white;
    vertical-align: top;
    margin: auto;
    border: solid 1px rgb(210,210,210);
    margin-top: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;

    /* SHADOW */
    -moz-box-shadow:    0px 0px 5px 3px #ccc;
    -webkit-box-shadow: 0px 0px 5px 3px #ccc;
    box-shadow:         0px 0px 10px 2px #ccc;
    
}

.news .news-left{
    vertical-align: top;
    padding-right: 20px;
    padding-left: 20px;
}

.news .news-right .ui-widget-content {
    border: 0;
}

.news .news-left-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: normal;
    color: rgb(102,102,102);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom: 6px rgb(232,232,232) solid;
}

.news .news-left-search-input{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 6px rgb(232,232,232) solid;
    
}

.news .news-search-input{
    width: 300px;
    height: 30px;
    border: 1px #ccc solid;
    background-color: rgb(247,247,247);
    font-style: italic;
}

.news .news-search-buttons{
    padding-top: 20px;
}

.news .news-search-results{
    background-color: rgb(247,247,247);
}

.news .news-search-result{
    padding: 30px;
    border: none;
}

.news .news-search-result-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
/*    font-weight: lighter;*/
    letter-spacing: normal;
    color: rgb(72,72,72);
    padding: 20px;
    padding-top: 0;
    padding-bottom: 15px;
/*    margin-left: 40px;*/
    border-bottom: 3px rgb(212,212,212) double;
}

.news .news-search-result-date{
    padding-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    letter-spacing: normal;
    color: rgb(172,172,172);
    padding-bottom: 10px;
}

.news .news-search-result-date-inner{
    padding-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    color: rgb(122,122,122);
    
}


.news .news-search-result-content{
    padding-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    color: rgb(102,102,102);
}

.news .news-search-button{
    text-align: center;
    font-size: 13px;
    color: rgb(72,72,72);
    font-weight: lighter;
    background: rgb(222,222,222) !important;
    box-shadow: none !important;
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 7px;
    border:1px rgb(222,222,222) solid;

}

.news .news-watching-now{
    text-align: center;
    font-size: 13px;
    color: rgb(242,242,242);
    font-weight: lighter;
    background: rgb(41,58,67) !important;
    box-shadow: none !important;
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 7px;
    border:1px rgb(41,58,67) solid;
    text-shadow: none;
}

.news .news-search-results{
    border: 0;
}

.news .ui-panel .ui-panel-content {
    padding: 0;
}



.news .news-page-body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb (52,52,52);
    font-size: 15px;
}

.news .news-page{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #C2434A;
    font-weight: lighter;
    font-size: 15px;
}


/*AZ Widgets*/

/*Post Related*/

.post .post-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    color: #C2434A;
    padding-bottom: 10px;
}

.post .post-body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: normal;
    color: rgb(102,102,102);
    padding-bottom: 10px;
}

.post .post-date{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: normal;
    color: rgb(192,192,192);
    padding-bottom: 10px;
}

/*Article Related*/

.article .article-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    color: #C2434A;
    padding-bottom: 10px;
}

.article .article-user{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: normal;
    color: rgb(102,102,102);
    padding-bottom: 10px;
}

.article .article-date{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: normal;
    color: rgb(192,192,192);
    padding-bottom: 10px;
}


/*Search Result Related*/

.search-result .search-result-img{
    padding: 3px;
    border: 1px rgb(202,202,202) solid;
}

.search-result .search-result-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: normal;
    color: rgb(102,102,102);
    padding-bottom: 10px;
}

.search-result .search-result-date{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: normal;
    color: rgb(192,192,192);
    padding-bottom: 10px;
}

/*Register Related*/

.register .register-pic{
    text-align: right;
    padding: 50px;
    padding-bottom: 30px;
}

.register .ui-messages-error{
/*    background-color: blue;*/
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register .register-table{
    background: white;
    border: 1px #ccc solid;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: justify;
    padding: 25px;
}


.register .register-title{
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline;
    color: #293A43;
    font-family: lemonde-courrier, Georgia, serif;
    line-height: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.register .register-field-box{
    width: 100%;
    border: 1px #ccc solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: lemonde-courrier, Georgia, serif;
    height: 25px;
    margin-bottom: 8px;
}

.register .register-field-left{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(92,92,92);
    padding-bottom: 5px;
    padding-right: 15px;
}

.register .register-field-text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(172,172,172);
    padding-bottom: 5px;
}


.register .register-field-box:focus{
    border: 1px rgb(128,191,255) solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 5px rgb(166,210,255) !important;
    -webkit-box-shadow: 0 0 5px rgb(166,210,255) !important;
    box-shadow: 0 0 5px rgb(166,210,255) !important;
    outline: none;
}

.register .register-button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-size:13px;
    font-weight:bold;
    width: 80px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:6px 6px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

.register .register-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.register .register-button:active {
    position:relative;
    top:1px;
}


.register .register-content{
   padding-left: 120px;
}

